<div class='container'>
    <div class='jumbotron'>
        <h4 class="display-4 text-center">Unverified Consumers</h4>
        <hr>
        <table class="table table-sm table-hover table-striped">
            <thead class="bg-success">
                <tr>
                    <th>NAME</th>
                    <th>PHONE NUMBER</th>
                    <th>ADDRESS</th>
                    <th>E-MAIL</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let x of consumerlist">
                    <td>{{x.Name}}</td>
                    <td>{{x.PhoneNumber}}</td>
                    <td>{{x.Address}}</td>
                    <td>{{x.Email}}</td>
                    <td>
                        <a [routerLink]="['/admin-verify/', x.UserName]"
                            class="btn btn-primary btn-sm float-left">Verify</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>