<div class="container">
    <div class="jumbotron">
        <form #passwordChangeForm="ngForm" (ngSubmit)="changePassword()">
            <div class="form-group">
                <label for="old-password" class="font-weight-bolder">Old Password</label>
                <input type="password" class="form-control" id="old-password" required placeholder="Enter Old Password"
                    [(ngModel)]="password.OldPassword" name="oldPassword" #oldPassword="ngModel">
                <div *ngIf="oldPassword.touched && oldPassword.invalid">
                    <div *ngIf="oldPassword.errors.required" class="alert alert-danger">
                        Old Password is required and Cannot be Empty
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="new-password" class="font-weight-bolder">New Password</label>
                <input type="password" class="form-control" id="new-password" required minlength="5"
                    placeholder="Enter New Password" [(ngModel)]="password.NewPassword" name="newPassword"
                    #newPassword="ngModel">
                <div *ngIf="newPassword.touched && newPassword.invalid">
                    <div *ngIf="newPassword.errors.required" class="alert alert-danger">
                        New Password is Required and Cannot be Empty
                    </div>
                    <div *ngIf="newPassword.errors.minlength" class="alert alert-danger">
                        Password Length has to be Minimum 5 Characters
                    </div>
                </div>
                <div *ngIf="oldPassword.touched && newPassword.value == oldPassword.value"
                    class="alert alert-danger">
                    New Password Shouldn't be Same As Old Password
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit"
                [disabled]="passwordChangeForm.invalid || oldPassword.value == newPassword.value">
            &nbsp; &nbsp;
            <a class="btn btn-danger" [routerLink]="['/product-list']">Cancel</a>
        </form>
    </div>
</div>