<div class='container'>
    <div class='jumbotron'>
        <div class="d-flex justify-content-between">
            <h2 class="display-4">Verified Consumers</h2>
            <button class="btn btn-primary" (click)="deductEmi()">Deduct EMI</button>
        </div>
        <hr>
        <table class="table table-hover tables-striped table-sm">
            <thead>
                <tr class='bg-success'>
                    <th>USER NAME</th>
                    <th>NAME</th>
                    <th>PHONE NUMBER</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let x of consumerlist">
                    <td>{{x.UserName}}</td>
                    <td>{{x.Name}}</td>
                    <td>{{x.PhoneNumber}}</td>
                    <td>{{x.Email}}</td>
                    <td>{{x.Address}}</td>
                    <td>
                        <a [routerLink]="['/admin-consumer-edit/', x.UserName]" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>
                        <a [routerLink]="['/admin-consumer-delete/', x.UserName]"
                            class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>