<div class="container">
  <div class="jumbotron">
    <form #consumerForm='ngForm' (ngSubmit)='saveConsumer()'>

      <div class="form-group">
        <label for="username" class="font-weight-bolder">USER NAME</label>
        <input class="form-control" type="text" id="username" name="username" readonly [(ngModel)]="consumer.UserName">
      </div>

      <div class="form-group">
        <label for="name" class="font-weight-bolder">NAME</label>
        <input class="form-control" type="text" id="name" required minlength="3" placeholder="Enter New Name"
          name="namecontrol" [(ngModel)]="consumer.Name" #namecontrol="ngModel" />
        <div *ngIf="namecontrol.touched && namecontrol.invalid">
          <div class="alert alert-danger" *ngIf="namecontrol.errors.required">
            Name is required
          </div>
          <div class="alert alert-danger" *ngIf="namecontrol.errors.minlength">
            Name Should be Minimum 3 Characters Long
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="font-weight-bolder">E-MAIL</label>
        <input class="form-control" type="email" id="email" required minlength="11" placeholder="Enter New Email"
          name="emailcontrol" [(ngModel)]="consumer.Email" #emailcontrol="ngModel">
        <div *ngIf="emailcontrol.touched && emailcontrol.invalid">
          <div class="alert alert-danger" *ngIf="emailcontrol.errors.required">
            Email is required and Cannot be Empty
          </div>
          <div class="alert alert-danger" *ngIf="emailcontrol.errors.minlength">
            Email should be Minimum 11 Characters Long
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="font-weight-bolder">PHONE NUMBER</label>
        <input class="form-control" type="text" required minlength="10" maxlength="10" id="phone"
          placeholder="Enter New Phone Number" pattern="[789][0-9]{9}" name="numbercontrol"
          [(ngModel)]="consumer.PhoneNumber" #numbercontrol="ngModel" />
        <div *ngIf="numbercontrol.touched && numbercontrol.invalid">
          <div class="alert alert-danger" *ngIf="numbercontrol.errors.required">
            Phone number is Required and Cannot Be Empty
          </div>
          <div class="alert alert-danger" *ngIf="numbercontrol.minlength || numbercontrol.maxlength; else wrongFormat">
            Phone Number Must Be 10 Digits Long
          </div>
          <ng-template #wrongFormat>
            <div class="alert alert-danger">
              Enter Phone Number in Correct Form
            </div>
          </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label for="address" class="font-weight-bolder">ADDRESS</label>
        <input class="form-control" type="text" id="address" required placeholder="Enter New Address"
          name="addresscontrol" [(ngModel)]="consumer.Address" #addresscontrol="ngModel">
        <div *ngIf="addresscontrol.touched && addresscontrol.invalid">
          <div class="alert alert-danger" *ngIf="addresscontrol.errors.required">
            Address is required and Cannot be Empty
          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-primary" [disabled]="consumerForm.invalid" value="Save">
      &nbsp; &nbsp;
      <a class="btn btn-danger" routerLink="./../../admin-dashboard">Cancel</a>
    </form>
  </div>
</div>