<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-0 col-xs-0">
            <h1 class="font-weight-bold mt-5">World's First EMI Cost Free Shop Awaits You</h1>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="jumbotron mt-5">
                <h2 class="text-center font-weight-bold text-info">Our Policies</h2>
                <hr>
                <h5 class="text-success">
                    <img src="/assets/logo.png" alt="Company Logo" width="40px" height="40px"> No Cost EMI
                </h5>
                <h5 class="text-success">
                    <img src="/assets/logo.png" alt="Company Logo" width="40px" height="40px">
                    Credit Card Not Mandatory
                </h5>
                <h5 class="text-success">
                    <img src="/assets/logo.png" alt="Company Logo" width="40px" height="40px"> Company Generates EMI
                    Card For You
                </h5>
                <h5 class="text-success">
                    <img src="/assets/logo.png" alt="Company Logo" width="40px" height="40px">
                    Easy Verification Process
                </h5>
            </div>
        </div>
    </div>
</div>