<div class="container">
    <div class="jumbotron">
        <form #forgetPasswordForm="ngForm" (ngSubmit)="forgetPassword()">
            <div class="form-group">
                <label for="username" class="font-weight-bold">User Name</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Your Username" required
                    name="username" #username="ngModel" [(ngModel)]="userName">
                <div *ngIf="username.touched && username.invalid">
                    <div *ngIf="username.errors.required" class="alert alert-danger">
                        Username is Required and Cannot be Empty
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email" required minlength="11"
                name="email" #email="ngModel" [(ngModel)]="emailAddress">
                <div *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors.required" class="alert alert-danger">
                        Email is An Required Field and Cannot Be Empty
                    </div>
                    <div *ngIf="email.errors.minlength" class="alert alert-danger">
                        Please Provide Email in Correct Form
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Sumbit" [disabled]="forgetPasswordForm.invalid">
            &nbsp; &nbsp;
            <a class="btn btn-danger" [routerLink]="['/home']">Cancel</a>
        </form>
    </div>
</div>